.logo{
    width: 200px;   
}
.title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
}
.subtitle{
    font-size: 20px;
}
.login{
    text-decoration: none;
    color: blue;
}
ul li::before{
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: blue; 
  font-weight: bold; 

}
.button{
    padding: 10px;
    border: 2px solid grey;
    background-color: white;
    color: grey;
}
.terms{
    color: blue;
}
.main{
    display: flex;
}
